body {
  font-family: verdana;
  text-align: center;
}

h1 {
  color: blue;
}

.entryDisplayArea h2 {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.detailsHeaders {
  text-decoration: underline;
}

.highCalories {
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
}

.lowCalories {
  color: #04b80b;
  font-style: italic;
}

.selected {
  color: #ff9519;
}

label {
  padding-right: 5px;
}

h4 {
  margin-top: 40px;
  text-decoration: underline;
  font-weight: bold;
}
